.loadingContainer{
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 1 1 0;
    width: 100%;
}





.outerContainer{
    --padding-content-text: 1rem 1rem;

    align-self: center;

    flex: 1 1 0;

    padding: var(--outer-container-padding);

    width: min(97%, 180rem);

    overflow: auto;


    display: grid;
    grid-template-areas: "header scroll"
                         "main scroll";
    grid-template-columns: 1fr 30rem;
    grid-template-rows: auto
                        1fr;

    gap: 2rem;

    color: var(--dark-container-colour);


}


.thinOuterContainer{
    grid-template-areas: "header"
                         "main"
                         "scroll";
    grid-template-columns: 1fr;
    grid-template-rows: auto
                        1fr
                        25rem;
}

/* .mediumOuterContainer{

} */


.wideOuterContainer{
    grid-template-columns: 1fr 35rem;
}



.outerContainer > *{
    background-color: var(--soft-light-colour);


    box-shadow: -1rem 1rem 0 var(--dark-container-colour);
}


.introContainer{
    grid-area: header;

    padding: var(--padding-content-text);


    
    & > h2{
        font-weight: bolder;
        font-size: 4rem;

        line-height: 4.5rem;

        margin-bottom: 1rem;
    }


    & p{
        font-size: large;
    }
}







.blogListScrollerSection{
    grid-area: scroll;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: auto;
    
    gap: 2rem;
    
    padding: 1rem 0;
}

.thinSidebarContainer{
    flex-direction: row;

    padding: 1rem 2rem;

    scroll-behavior: smooth;
}
/* .mediumSidebarContainer{

}
.wideSidebarContainer{

} */

















.currBlogSection{
    grid-area: main;


}
.noCurrBlog{
    padding-left: 1rem;
    margin-top: 1rem;



}



.lowerTextBtnContainer{
    display: flex;
    column-gap: 2rem;
    align-items: center;


    &>p{
        margin-right: auto;
    }

    .authLevelBtn{
        padding: 1rem;
/* 
        font-size: large; */

        white-space: nowrap;

        background-color: var(--dark-container-colour);
        color: white;

        /* box-shadow: none;

        border: none; */

        cursor: pointer;

        transition: all 0.2s linear;
    }

}


.authLevelBtn:hover{
    background-color: white;
    color: var(--dark-container-colour);

    transform: translate(-1rem);
}