.outerContainer{
    --padding-content-text: 1rem 1rem;


    flex: 1 1 0;

    padding: var(--outer-container-padding);

    width: 100%;

    overflow: hidden;


    display: grid;
    grid-template-areas: "header scroll"
                         "main scroll";
    grid-template-columns: 1fr 30rem;
    grid-template-rows: auto
                        1fr;

    gap: 2rem;

    color: var(--dark-container-colour);


}

.outerContainer > *{
    background-color: var(--soft-light-colour);
}


.introContainer{
    grid-area: header;

    padding: var(--padding-content-text);


    
    & > h2{
        font-weight: bolder;
        font-size: 4rem;

        line-height: 4.5rem;

        margin-bottom: 1rem;
    }


    & > p{
        font-size: large;
    }
}







.blogListScrollerSection{
    grid-area: scroll;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: auto;
    
    row-gap: 2rem;
    
    padding: 1rem 0;
}



.currBlogSection{
    grid-area: main;


}
.noCurrBlog{
    padding-left: 1rem;
    margin-top: 1rem;



}