.outerContainer{

    

    --containers-padding: 1rem;
    --containers-box-shadow: -2rem 2rem 0 var(--dark-container-colour);

    flex: 1 1 0;
    width: 100%;

    padding: var(--outer-container-padding);
    padding-bottom: 6rem;

    display: flex;
    row-gap: 8rem;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    overflow: auto;

    color: var(--dark-container-colour);

    


}





.blogContainer{
    flex-shrink: 0;

    /* height: 70rem; */
    width: var(--containers-width);
    
    background-color: var(--soft-light-colour);

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    box-shadow: var(--containers-box-shadow);



}


.imgContainer{
    width: 100%;


    overflow: hidden;

    &>img{
        object-fit: cover;

        width: 100%;
        height: 100%;

        overflow: hidden;
    }

}


.lowerBlogContainer{
    width: 100%;

    padding: var(--containers-padding);


    display: flex;
    row-gap: 1rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;


}


.blogTitle{
    font-size: 3rem;

    background-color: var(--blue-selected-button-colour);
    color: white;

    padding: .5rem;

    box-shadow: -.5rem .5rem 0 white;
}


.infoContainer{
    display: flex;
    column-gap: .8rem;

    font-size: large;

}

.info{

    background-color: var(--dark-container-colour);
    color: white;

    padding: .5rem;

    box-shadow: -.5rem .5rem 0 white;
}


.blogBody{
    margin-top: 2rem;

    font-size: 1.7rem;
}



.addCommentFormContainer{
    width: var(--containers-width);
}





.commentsContainer{
    display: flex;
    flex-direction: column;

    width: var(--containers-width);

    row-gap: 4rem;
}



.noAddCommentFormContainer{
    width: var(--containers-width);
    /* align-self: flex-start; */

    

    background-color: var(--soft-light-colour);

    padding: var(--containers-padding);

    box-shadow: var(--containers-box-shadow);

    display: flex;
    align-items: center;
    justify-content: center;
}

.noAddCommentForm{
    font-size: 1.8rem;

    background-color: var(--blue-selected-button-colour);
    color: white;

    padding: .5rem;

    box-shadow: -.5rem .5rem 0 white;

    font-size: 3rem;

    background-color: var(--blue-selected-button-colour);
    color: white;

    padding: .5rem;

    box-shadow: -.5rem .5rem 0 white;

}