.header {
    flex-shrink: 0;


    height: 9rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: .1rem white solid;

    box-shadow: 0rem 1rem 1rem rgba(0, 0, 0, 0.2);

    color: aliceblue;
    fill: aliceblue;

    font-weight: bolder;


    
}


.logoImgContainer {
    flex-shrink: 0;
    height: 100%;

    display: flex;
    align-items: center;
    row-gap: .8rem;

    font-size: larger;
    /* font-style: italic; */

    white-space: nowrap;

    overflow: hidden;


    &>svg {
        height: 100%;


        object-fit: cover;
        overflow: hidden;
    }


}


.rightSideHeaderContainer {
    height: 100%;

    display: flex;
    align-items: center;

    column-gap: 4rem;
}







.pageSelectionContainer {
    height: 100%;

    display: flex;
    align-items: center;
    column-gap: 3rem;

    list-style: none;


}


.basicLinkClass {
    text-decoration: none;

    padding: .4rem 2rem;

    border-radius: 3rem;

    border: .1rem solid transparent;

    transition: background-color .2s linear, border .2s linear;
}


.isActiveHeaderLink {
    background-color: rgba(255, 255, 255, 0.4);

    border: .1rem solid white;
}


.isInactiveLink {
    background-color: rgba(255, 255, 255, 0.25);
}

.isInactiveLink:hover{
    background-color: rgba(255, 255, 255, 0.4);

    border: .1rem solid white;
}



.signInOrOutContainer {

    flex-shrink: 0;

    height: 70%;

    padding: .6rem;

    border-radius: 1rem;
    border: .1rem solid transparent;


    transition: border .2s linear, background-color .2s linear;

    cursor: pointer;

    &>svg {
        height: 100%;

        object-fit: contain;
        overflow: hidden;

    }
}


.signInOrOutContainer:hover {
    background-color: rgba(255, 255, 255, 0.2);

    border: .1rem solid white;

}